
  <header class="text-secondary" style="background-image: url('../assets/computer2.jpg');     background-size: 100%; ">
    <div class="container text-center" style="color:#6c757d">
      <h1>Scam Protect</h1>
      <p class="lead">Your leading social engineering protection.</p>
    </div>
  </header>


  <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
              <h2>About Us</h2>
              <p class="lead">Every year, vulnerable technology users are targeted through social engineering attempts, resulting in billions of dollars lost annually. The guardians and caretakers of vulnerable technology users can utilize Scam Protect to guard their loved ones against scams and social engineering attempts. By providing an early detection tool, loved ones and their personal assets can be protected.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="FAQ" style="background-color: #f8f9fa!important;">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Who we are?</h2>
                <p class="lead">Scam Protector is an online service and Chrome extension for Gmail that detects social engineering attempts against vulnerable technology users (VTUs), which consists primarily of seniors with age-related mental illness.</p>
             
              <h2>What do we do?</h2>
              <p class="lead">As a service, Scam Protect monitors any authenticated gmail acounts for incoming messages that are identified as attempts at social engineering.</p>
              <h2>How do we do it?</h2>
              <p class="lead">Scam Protector is an online service and Chrome extension for Gmail that detects social engineering attempts against vulnerable technology users (VTUs), which consists primarily of seniors with age-related mental illness.</p>
            </div>
          </div>
        </div>
      </section>
  
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Contact us</h2>
              <p class="lead">For further information about Scam Protect please email us at 2018ScamProtect@gmail.com.</p>
            </div>
          </div>
        </div>
      </section>